.theme-dark{
--background-primary: url('https://media.discordapp.net/attachments/622407005495099396/782353307409842256/crop.jpg?width=845&height=475');
--background-secondary: #120038;
--background-tertiary: #0d002e;

}

.content-1x5b-n {
    background:#120038;
}

/* user panel */
.container-3baos1 {
    background:#0d002e;
  padding: 20px;
  width: 200px;
  height: 16px;
}
/* voice back ground */ 
.wrapper-24pKcD {
    background: url('https://media.discordapp.net/attachments/622407005495099396/782353307409842256/crop.jpg?width=845&height=475');

}
/* stream bkg */
.panel-24C3ux {
    background:#0d002e;
}

/* chat box */
.scrollableContainer-2NUZem {
    background:none;
}
.placeholder-37qJjk {
    color:white;
}

/* emoji panel */
.inspector-S2gM3e {
    background:none;
}
/* feiends list background */
.tabBody-3YRQ8W {
    background: url('https://media.discordapp.net/attachments/622407005495099396/782353307409842256/crop.jpg?width=845&height=475');
}
.section-2gLsgF {
    background: url('https://media.discordapp.net/attachments/622407005495099396/782353307409842256/crop.jpg?width=845&height=475');
    background-size: 100%;
}
/* home icon */
.childWrapper-anI2G9 {
    content: url('https://media.discordapp.net/attachments/622407005495099396/782325174556426270/111.png?width=330&height=326');
    background:none;
}

/* prof */
.header-QKLPzZ.da-header {
   background: url('https://media.discordapp.net/attachments/622407005495099396/782359108677402674/45544554g.png?width=879&height=360');
   background-size:100%;
}
/* discord name up */
.wordmarkWindows-1v0lYD {
    content: url('https://media.discordapp.net/attachments/622407005495099396/782334624528859156/777.png');
    



}
/* user bdg */
.userPopout-3XzG_A .avatarWrapper-3H_478[user_by_bdfdb*="474746094585118744"]+.headerText-2sdzFM .headerTag-2pZJzA:after {
	content: 'stark';
	position: absolute;
	right: 11px;
	border-radius: 2px;
	color: var(--accent);
	font-size: var(--size4);
	font-weight: 500;
	height: 1.28em;
	padding: .072rem .275rem;
	line-height: 1.28em;
	background: #94000c;
	z-index: 2;
	border-radius:90px;
	color:black;
}

.userPopout-3XzG_A .avatarWrapper-3H_478[user_by_bdfdb*="578991439304851458"]+.headerText-2sdzFM .headerTag-2pZJzA:after {
	content: 'Strange';
	position: absolute;
	right: 10px;
	border-radius: 2px;
	color: var(--accent);
	font-size: var(--size4);
	font-weight: 500;
	height: 1.28em;
	padding: .072rem .275rem;
	line-height: 1.28em;
	background: #1d004d;
	z-index: 2;
	border-radius:90px;
	color:white;
}

.inner-1ilYF7.da-inner > [user_by_bdfdb="575933571186032641"] > div >.header-QKLPzZ.da-header {
    background: url('https://media.discordapp.net/attachments/596410225553047583/782341783626842142/unknown.png?width=1026&height=185');
    color:Red;
    background-size: 100%;
}


/* create server */
.container-UC8Ug1 {
    background:#1d0127;
}
.colorStandard-2KCXvj {
    color:white;
}
/* r click */
.scroller-3BxosC {
    background:#0d002e;
}
/* prof 2 */
.activityProfile-2bJRaP {
    background:#120038;
}
.activity-1ythUs {
    background:#120038;
}
.tabBarContainer-1s1u-z {
    background:#120038;
}
.activityUserPopout-2yItg2 {
    background:#120038;
}
.headerPlaying-j0WQBV {
    background: url('https://media.discordapp.net/attachments/622407005495099396/782359108677402674/45544554g.png?width=879&height=360');
}
.body-3iLsc4.da-body.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
    background:#0d002e;
}
.footer-1fjuF6.da-footer {
     background:#0d002e;
}
.headerNormal-T_seeN {
    background: url('https://media.discordapp.net/attachments/622407005495099396/782359108677402674/45544554g.png?width=879&height=360');
}


