.theme-dark{
--background-primary: url('https://s16.picofile.com/file/8415819368/crop.jpg');
--background-secondary: #120038;
--background-tertiary: #0d002e;

}
.theme-light{
    --background-primary: url('https://media.discordapp.net/attachments/622407005495099396/782359599017230336/Samt_Khoda.png');
}

.content-1x5b-n {
    background:#120038;
}

/* user panel */
.container-3baos1 {
    background:#0d002e;
  padding: 20px;
  width: 200px;
  height: 16px;
}
/* voice back ground */ 
.wrapper-24pKcD {
    background: url('https://media.discordapp.net/attachments/622407005495099396/782353307409842256/crop.jpg?width=845&height=475');

}
/* stream bkg */
.panel-24C3ux {
    background:#0d002e;
}

/* chat box */
.scrollableContainer-2NUZem {
    background:none;
}
.placeholder-37qJjk {
    color:white;
}
/* emoji coplt */
.autocompleteInner-zh20B_ {
    background:#0d002e;
}

/* emoji panel */
.inspector-S2gM3e {
    background:none;
}
/* feiends list background */
.tabBody-3YRQ8W {
    background: url('https://media.discordapp.net/attachments/622407005495099396/782353307409842256/crop.jpg?width=845&height=475');
}
.section-2gLsgF {
    background: url('https://media.discordapp.net/attachments/622407005495099396/782353307409842256/crop.jpg?width=845&height=475');
    background-size: 100%;
}
/* home icon */
.childWrapper-anI2G9 {
    content: url('https://media.discordapp.net/attachments/622407005495099396/782740261469159434/disocredee.png');
    background:none;
}

/* prof */
.header-QKLPzZ.da-header {
   background: url('https://media.discordapp.net/attachments/622407005495099396/782359108677402674/45544554g.png?width=879&height=360');
   background-size:100%;
}
/* discord name up */
.wordmarkWindows-1v0lYD {
    content: url('https://media.discordapp.net/attachments/622407005495099396/782739152269344788/strange_ss.png');
    



}
/* user bdg */
.userPopout-3XzG_A .avatarWrapper-3H_478[user_by_bdfdb*="474746094585118744"]+.headerText-2sdzFM .headerTag-2pZJzA:after {
	content: 'stark';
	position: absolute;
	right: 11px;
	border-radius: 2px;
	color: var(--accent);
	font-size: var(--size4);
	font-weight: 500;
	height: 1.28em;
	padding: .072rem .275rem;
	line-height: 1.28em;
	background: #94000c;
	z-index: 2;
	border-radius:90px;
	color:black;
}

.userPopout-3XzG_A .avatarWrapper-3H_478[user_by_bdfdb*="578991439304851458"]+.headerText-2sdzFM .headerTag-2pZJzA:after {
	content: 'Strange';
	position: absolute;
	right: 10px;
	border-radius: 2px;
	color: var(--accent);
	font-size: var(--size4);
	font-weight: 500;
	height: 1.28em;
	padding: .072rem .275rem;
	line-height: 1.28em;
	background: #1d004d;
	z-index: 2;
	border-radius:90px;
	color:white;
}

.inner-1ilYF7.da-inner > [user_by_bdfdb="575933571186032641"] > div >.header-QKLPzZ.da-header {
    background: url('https://media.discordapp.net/attachments/596410225553047583/782341783626842142/unknown.png?width=1026&height=185');
    color:Red;
    background-size: 100%;
}


/* create server */
.container-UC8Ug1 {
    background:#1d0127;
}
.colorStandard-2KCXvj {
    color:white;
}
/* r click */
.scroller-3BxosC {
    background:#0d002e;
}
/* prof 2 */
.activityProfile-2bJRaP {
    background:#120038;
}
.activity-1ythUs {
    background:#120038;
}
.tabBarContainer-1s1u-z {
    background:#120038;
}
.activityUserPopout-2yItg2 {
    background:#120038;
}
.headerPlaying-j0WQBV {
    background: url('https://media.discordapp.net/attachments/622407005495099396/782359108677402674/45544554g.png?width=879&height=360');
}
.body-3iLsc4.da-body.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
    background:#0d002e;
}
.footer-1fjuF6.da-footer {
     background:#0d002e;
}
.headerNormal-T_seeN {
    background: url('https://media.discordapp.net/attachments/622407005495099396/782359108677402674/45544554g.png?width=879&height=360');
}
/* upload image */
.uploadModal-2ifh8j.da-uploadModal {
    background: url('https://media.discordapp.net/attachments/622407005495099396/782359108677402674/45544554g.png?width=879&height=360');
}
.footer-3mqk7D.da-footer.hasSpoilers-1IRtQC.da-hasSpoilers {
    background:#0d002e;
}
/* stng panel */
#app-mount .layer-3QrUeG.stop-animations:first-child{
    opacity:1!important;
    transform:unset!important;
    will-change: unset!important;
    pointer-events: none;
}

#app-mount .layer-3QrUeG.animating-rRxada:first-child{
    opacity:unset !important;
    transform: unset !important;
    will-change: unset !important;
}

#app-mount .layer-3QrUeG[aria-label="GUILD_SETTINGS"]{
    top:100px;
    left:100px;
    bottom:100px;
    right:100px;
    z-index:100;
}

#app-mount .layer-3QrUeG[aria-label="USER_SETTINGS"]{
    top:100px;
    left:100px;
    bottom:100px;
    right:100px;
    z-index:100;
}

.standardSidebarView-3F1I7i .contentRegion-3nDuYy {
    z-index: auto;
}

.standardSidebarView-3F1I7i .keybind-KpFkfr {
    display: none;
}
  
.standardSidebarView-3F1I7i .tools-3-3s-N {
    position: static;
}
  
.standardSidebarView-3F1I7i .closeButton-1tv5uR {
    position: fixed;
    cursor: default;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    border: none;
    border-radius: 0;
    z-index: -1;
    transition:.2s linear;
}

.standardSidebarView-3F1I7i .closeButton-1tv5uR:hover {
    background-color: rgba(20,24,26,.4);
}

.standardSidebarView-3F1I7i .closeButton-1tv5uR svg {
    display: none;
}
/* Xbox  SPTF*/
.headerXbox-3G-4PF {
    background: url('https://media.discordapp.net/attachments/622407005495099396/782359108677402674/45544554g.png?width=879&height=360');
}
.headerSpotify-3G-4PF {
    background: url('https://media.discordapp.net/attachments/622407005495099396/782359108677402674/45544554g.png?width=879&height=360');
}
/* new bars */
.bar-30k2ka {
background:#00f6ff;
}
.da-unread {
    color:#ff0004;
}
.da-mention {
    color:#ff0004;



